{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}


 {% block javascripts %}
     {{ parent() }}
     <script type="text/javascript" src={{ asset('build/js/d3.v4.min.js') }} charset="utf-8"></script>
     <script type="text/javascript" src="{{ asset('build/js/d3gauge.js') }}" charset="utf-8"></script>



 {% endblock %}
{% block body %}
    <div class="grid">
        <div class="col-left">
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form_errors(form.noms) }}
                    {{ form_label(form.noms) }}
                    {{ form_widget(form.noms) }}
                </div>
            </div>
            <div class="row">
                <div class="col" id="some-custom-id">
                    {{ form_errors(form.prenom) }}
                    {{ form_label(form.prenom) }}
                    {{ form_widget(form.prenom) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_errors(form.date_of_birth) }}
                    {{ form_label(form.date_of_birth) }}
                    {{ form_widget(form.date_of_birth) }}
                </div>
                <div class="col" id="some-custom-id">
                    {{ form_errors(form.age) }}
                    {{ form_label(form.age) }}
                    {{ form_widget(form.age) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_errors(form.height) }}
                    {{ form_label(form.height) }}
                    {{ form_widget(form.height) }}
                </div>
                <div class="col">
                    {{ form_errors(form.Weight) }}
                    {{ form_label(form.Weight) }}
                    {{ form_widget(form.Weight) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_errors(form.BMI) }}
                    {{ form_label(form.BMI) }}
                    {{ form_widget(form.BMI) }}
                </div>
                <div class="col">
                    {{ form_errors(form.position_sport) }}
                    {{ form_label(form.position_sport) }}
                    {{ form_widget(form.position_sport) }}
                </div>
                <div class="col">
                    {{ form_errors(form.Favorable_background_conditions) }}
                    {{ form_label(form.Favorable_background_conditions) }}
                    {{ form_widget(form.Favorable_background_conditions) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ form_errors(form.sexe) }}
                    {{ form_label(form.sexe) }}
                    {{ form_widget(form.sexe) }}
                </div>
                <div class="col" id="some-custom-id">

                    {{ form_errors(form.bloodGroup) }}
                    {{ form_label(form.bloodGroup) }}
                    {{ form_widget(form.bloodGroup) }}
                </div>
            </div>

            <div class="d-grid gap-2">
                {{ form_widget(form.send, {'attr': {'class': 'btn btn-primary'}}) }}
                <a class="btn btn-primary" href="#open-modal">👋 Uplode file</a>
            </div>


            {{ form_end(form) }}

        </div>
        <div class="row-right">
            <div class="col-right">
                <div class="col-g-1">
                    <p>General risk</p>
                    <div class="bord">
                        <div id="gaugeBox1"></div>
                        Puissance de précision
                        <div class="col-g-2"><input type="text"><input type="text"></div>
                    </div>
                </div>
                <div class="col-g-1">
                    <p>Expected fitness level</p>
                    <div class="bord">
                        <div id="gaugeBox2"></div>
                        Puissance de précision
                        <div class="col-g-2"><input type="text"><input type="text"></div>
                    </div>

                </div>
                <div class="col-g-1">
                    <p>Risk of alcoholism</p>
                    <div class="bord">
                        <div id="gaugeBox3"></div>
                        Puissance de précision
                        <div class="col-g-2"><input type="text"><input type="text"></div>
                    </div>
                </div>
                <div class="col-g-1">
                    <p>Anorexia risk</p>
                    <div class="bord">
                        <div id="gaugeBox4"></div>
                        Puissance de précision
                        <div class="col-g-2"><input type="text"><input type="text"></div>
                    </div>
                </div>
                <div class="col-g-1">
                    <p>Fitness evaluation - bar</p>
                    <div class="bord">
                        <div id="gaugeBox5"></div>
                        Puissance de précision
                        <div class="col-g-2"><input type="text"><input type="text"></div>
                    </div>

                </div>

            </div>
            <div class="row mt-4">
                <div class="col-g-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             id="progressBar1"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-g-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             id="progressBar2"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-g-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                             id="progressBar3"
                             aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="open-modal" class="modal-window">
        <div>
            <a href="#" title="Close" class="modal-close">Close</a>
            <h1>Voilà!</h1>
            <div class="dropzone my-dropzone" id="form_snippet_image" action="{{ path('api_v1_test') }}"></div>
        </div>
    </div>


{% endblock %}
