{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}


{% block javascripts %}
    <script type="text/javascript" src="{{ asset('build/js/drag.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="http://d3js.org/d3.v4.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="{{ asset('build/js/d3gauge.js') }}" charset="utf-8"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
    <script>


        var gauges = []
        document.addEventListener("DOMContentLoaded", function (event) {
            var opt = {
                gaugeRadius: 100,
                minVal: 0,
                maxVal: 100,
                needleVal: Math.round(100),
                tickSpaceMinVal: 1,
                tickSpaceMajVal: 10,
                divID: "gaugeBox",
                gaugeUnits: "%"
            }
            gauges[0] = new drawGauge(opt);
        })
        document.addEventListener("DOMContentLoaded", function (event) {
            var opt = {
                gaugeRadius: 100,
                minVal: 0,
                maxVal: 100,
                needleVal: Math.round(90),
                tickSpaceMinVal: 1,
                tickSpaceMajVal: 10,
                divID: "gaugeBox1",
                gaugeUnits: "%"
            }
            gauges[1] = new drawGauge(opt);
        });
        document.addEventListener("DOMContentLoaded", function (event) {
            var opt = {
                gaugeRadius: 100,
                minVal: 0,
                maxVal: 100,
                needleVal: Math.round(20),
                tickSpaceMinVal: 1,
                tickSpaceMajVal: 10,
                divID: "gaugeBox2",
                gaugeUnits: "%"
            }
            gauges[2] = new drawGauge(opt);
        });

        document.addEventListener("DOMContentLoaded", function (event) {
            var opt = {
                gaugeRadius: 100,
                minVal: 0,
                maxVal: 100,
                needleVal: Math.round(30),
                tickSpaceMinVal: 1,
                tickSpaceMajVal: 10,
                divID: "gaugeBox3",
                gaugeUnits: "%"
            }
            gauges[3] = new drawGauge(opt);
        })

        document.addEventListener("DOMContentLoaded", function (event) {
            var opt = {
                gaugeRadius: 100,
                minVal: 0,
                maxVal: 100,
                needleVal: Math.round(30),
                tickSpaceMinVal: 1,
                tickSpaceMajVal: 10,
                divID: "gaugeBox4",
                gaugeUnits: "%"
            }
            gauges[3] = new drawGauge(opt);
        })

        document.addEventListener("DOMContentLoaded", function (event) {
            var opt = {
                gaugeRadius: 100,
                minVal: 0,
                maxVal: 100,
                needleVal: Math.round(30),
                tickSpaceMinVal: 1,
                tickSpaceMajVal: 10,
                divID: "gaugeBox5",
                gaugeUnits: "%"
            }
            gauges[3] = new drawGauge(opt);
        })



        $(document).ready(function() {
            var $formHeight = $('#form_height');
            var $formWeight = $('#form_Weight');
            var $formBMI = $('#form_BMI');
                $formWeight.on('change', function (e) {
                    if($formHeight.val() !== 0)
                    $formBMI.val($formWeight.val()/$formHeight.val()^2)
                });
        });



    </script>

{% endblock %}
{% block body %}
    <div class="grid">
        <div class="col-left">
            {{ form_start(form) }}
            <div class="my-custom-class-for-errors">
                {{ form_errors(form) }}
            </div>
            <div class="row">
                <div class="col">
                    {{ form_errors(form.noms) }}
                    {{ form_label(form.noms) }}
                    {{ form_widget(form.noms) }}
                </div>
            </div>
            <div class="row">
                <div class="col" id="some-custom-id">
                    {{ form_errors(form.prenom) }}
                    {{ form_label(form.prenom) }}
                    {{ form_widget(form.prenom) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_errors(form.date_of_birth) }}
                    {{ form_label(form.date_of_birth) }}
                    {{ form_widget(form.date_of_birth) }}
                </div>
                <div class="col" id="some-custom-id">
                    {{ form_errors(form.age) }}
                    {{ form_label(form.age) }}
                    {{ form_widget(form.age) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_errors(form.height) }}
                    {{ form_label(form.height) }}
                    {{ form_widget(form.height) }}
                </div>
                <div class="col">
                    {{ form_errors(form.Weight) }}
                    {{ form_label(form.Weight) }}
                    {{ form_widget(form.Weight) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_errors(form.BMI) }}
                    {{ form_label(form.BMI) }}
                    {{ form_widget(form.BMI) }}
                </div>
                <div class="col">
                    {{ form_errors(form.position_sport) }}
                    {{ form_label(form.position_sport) }}
                    {{ form_widget(form.position_sport) }}
                </div>
                <div class="col">
                    {{ form_errors(form.Favorable_background_conditions) }}
                    {{ form_label(form.Favorable_background_conditions) }}
                    {{ form_widget(form.Favorable_background_conditions) }}
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {{ form_errors(form.sexe) }}
                    {{ form_label(form.sexe) }}
                    {{ form_widget(form.sexe) }}
                </div>
                <div class="col" id="some-custom-id">

                    {{ form_errors(form.bloodGroup) }}
                    {{ form_label(form.bloodGroup) }}
                    {{ form_widget(form.bloodGroup) }}
                </div>
            </div>

            <div class="d-grid gap-2">
                {{ form_widget(form.send, {'attr': {'class': 'btn btn-primary'}}) }}
                <a class="btn btn-primary" href="#open-modal">👋 Uplode file</a>
            </div>


            {{ form_end(form) }}

        </div>
        <div class="col-right">
            <div class="col-g-1">
                <p>Risque général</p>
                <div class="bord">
                    <div id="gaugeBox1"></div>
                    Puissance de précision
                    <div class="col-g-2"><input type="text"><input type="text"></div>
                </div>

            </div>
            <div class="col-g-1">
                <p>Risque santé</p>
                <div class="bord">
                    <div id="gaugeBox2"></div>
                    Puissance de précision
                    <div class="col-g-2"><input type="text"><input type="text"></div>
                </div>

            </div>
            <div class="col-g-1">
                <p>Risque alcoolique</p>
                <div class="bord">
                    <div id="gaugeBox3"></div>
                    Puissance de précision
                    <div class="col-g-2"><input type="text"><input type="text"></div>
                </div>

            </div>
            <div class="col-g-1">
                <p>Risque anorexique</p>
                <div class="bord">
                    <div id="gaugeBox4"></div>
                    Puissance de précision
                    <div class="col-g-2"><input type="text"><input type="text"></div>
                </div>

            </div>
            <div class="col-g-1">
                <p>Evaluation physique</p>
                <div class="bord">
                    <div id="gaugeBox5"></div>
                    Puissance de précision
                    <div class="col-g-2"><input type="text"><input type="text"></div>
                </div>

            </div>

        </div>
    </div>
    <!-- Modal -->
    <div id="open-modal" class="modal-window">
        <div>
            <a href="#" title="Close" class="modal-close">Close</a>
            <h1>Voilà!</h1>
            <div class="my-dropzone"></div>
        </div>
    </div>











{% endblock %}
